body {
	background-color: #000000;
	color: #ffffff;
	font-family: 'IBM Plex Mono', monospace;
	margin: 0px;
	padding: 0px;
}

#content {
	background-color: rgb(32, 32, 32);
	width: 60%;
	height: 50%;
	margin: auto;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	color: rgb(128, 128, 128);
}

ul {
	font-size: larger;
	width: 60%;
	margin: auto;
	padding: 0px;
	list-style-type: none;
	vertical-align: middle;
}

li {
	margin: 8px 0px;
}