<div id="content">
	<div id='profile' class="panel">
		<div class="profile-panel"><img id='avatar' src="img/avatar.png" alt=""></div>
		<div class="profile-panel"><ul>
			<li>chase kozol</li>
			<li><a href="mailto:chasekozol@protonmail.com">chasekozol@protonmail.com</a></li>
			<li><a href="sms:9713357470">(971)-335-7470</a></li>
		</ul></div>
	</div>
	<div id='links' class="panel">
		<div class="link-panel"><div><p>links:</p></div></div>
		<div id='separator'></div>
		<div class="link-panel"><ul>
			<li><a href="https://github.com/chskzl">github</a></li>
			<li><a href="https://www.linkedin.com/in/chase-kozol-26557221b/">linkdin</a></li>
			<li><a href="https://steamcommunity.com/id/mrrxgers/">steam</a></li>
		</ul></div>
	</div>
	<div id='form' class="panel">
		<form>
			<label for="name">Name:</label><br>
			<input type="text" id="formName" name="name"><br>
			<label for="email">Email Address:</label><br>
			<input type="text" id="formEmail" name="email"><br>
			<label for="message">Message</label><br>
			<textarea type="text" id="formMessage" name="message"></textarea><br>
			<input type="submit" value="Send Message" id="formSubmit">
		</form>
	</div>
</div>