<main>
	<div id='content'>
		{{#each photosArray}}
			<div class='photo-container'>
				<a href='/photos/{{@index}}'><img src="/media/thumbnails/{{filename}}" alt="{{title}}" width="200px"></a>
				<p>{{date}}</p>
			</div>
		{{/each}}
	</div>
</main>