<main>
	<div id='content'>
		<div class='photo-container'>
			<h3 id='postTitle'>{{title}}</h3>
			<p id='postDate'>{{date}}</p>
			<div id='photoContainer'><img src="/media/{{filename}}" alt="{{filename}}"></div>
		</div>
	</div>
</main>