<main>
	<div id='content'>
		<div class='project'>
			<div class='text-container'>
				<h2 id='title'>WASMFiddle</h2>
				<span class='tags'>tags: C, C++, Rust, WASM, HTML, JS, CSS</span>
				<p class='desc'>A web application which enable users to quickly and easily compile C, C++, and Rust code into WebAssembly modules from within their browser. Features an editor with real time syntax highlighting, server-side compilation, and a window that displays the output.</p>
				<a href='https://github.com/chskzl/wasmfiddle'>github<span class='arrow'>&#8599;</span></a>
			</div>
			<img id='wasmfiddle-demo' class='demo' src='img/wasmfiddle.png' alt='demo'>
		</div>
		<div class='project'>
			<img id='jos-demo' class='demo' src='img/jos.png' alt='demo'>
			<div class='left-justify text-container'>
				<h2 id='title'>JOS</h2>
				<span class='tags'>tags: C, Assembly</span>
				<p class='desc'>Personal implementation of MIT's <a href='https://pdos.csail.mit.edu/6.828/2014/overview.html'>JOS operating system</a>. Major components include functions for booting, virtual memory, paging, division of kernel/user space execution privileges, user environments, processes, and preemptive multitasking.</p>
				<a href='https://github.com/chskzl/jos'>github<span class='arrow'>&#8599;</span></a>
			</div>
		</div>
		<div class='project'>
			<div class='text-container'>
				<h2 id='title'>Wasteagram</h2>
				<span class='tags'>tags: Dart, Flutter</span>
				<p class='desc'>Final project for CS492: Mobile Development. A mobile app built with the Flutter SDK that enables coffee shop employees to document daily food waste in the form of "posts" consisting of a photo, number of leftover items, the current date, and the location of the device when the post is created.</p>
				<a href='https://github.com/chskzl/wasteagram'>github<span class='arrow'>&#8599;</span></a>
			</div>
			<img id='wasteagram-demo' class='demo' src='img/wasteagram.gif' alt='demo'>
		</div>
		<div class='project'>
			<img id='website-demo' class='demo' src='img/chasekozoldev.png' alt='demo'>
			<div class='left-justify text-container'>
				<h2 id='title'>chasekozol.dev</h2>
				<span class='tags'>tags: NodeJS, HTML, CSS, PostgreSQL</span>
				<p class='desc'>Personal website used for showcasing portfolio of projects and photography. Includes usage of NodeJS and Express to handle requests, querying a PostgreSQL database, and templatized pages with Handlebars.JS, among others.</p>
				<a href='https://github.com/chskzl/website'>github<span class='arrow'>&#8599;</span></a>
			</div>
		</div>
	</div>
</main>