body {
	margin: 0px;
	padding: 0px;
}

#content {
	width: 100%;
	height: calc(100% - 1px);
	background-color: #000000;
}

.monacoEditor {
	margin: 0;
	padding: 0;
	width: 100%;
	height: calc(100% - 31px);
}