@media (prefers-color-scheme: dark) {
	body {
		background-color: #000000;
		color: #ffffff;
	}

	a {
		color: #ffffff;
		text-decoration: none;
	}

	#photoContainer {
		border: 1px solid #fff;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: #ffffff;
		color: #000000;
	}

	a {
		color: #000000;
		text-decoration: none;
	}

	#photoContainer {
		border: 1px solid #000;
	}
}

body {
	font-family: 'IBM Plex Mono', monospace;
	margin: 0px;
	padding: 0px;
}

h1 {
	margin-left: 16px;
	font-weight: lighter;
	font-style: normal;
}

a:hover {
	color: rgb(128, 128, 128);
}

@media screen and (min-width: 864px) {
	#content {
		width: 800px;
		margin-left: 64px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 865px) {
	#content {
		width: 95%;
		margin: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

#postTitle {
	margin: 0;
	font-style: italic;
	font-weight: lighter;
}

#photoContainer {
	max-width: 100%;
	margin-top: 16px;
	padding: 16px;
	display: none;
}

#photo {
	width: 100%;
}
