body {
	background-color: #000000;
	color: #ffffff;
	font-family: 'IBM Plex Mono', monospace;
	margin: 0px;
	padding: 0px;
}

h1 {
	margin-left: 16px;
	font-weight: lighter;
	font-style: normal;
}

a {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: rgb(128, 128, 128);
}

#content {
	max-width: 90%;
	min-width: 60%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#postTitle {
	margin: 0;
	font-style: italic;
	font-weight: lighter;
}

#photoContainer {
	max-width: 60%;
	margin-top: 16px;
	padding: 16px;
	border: 1px solid #fff;
}

#photoContainer img {
	width: 100%;
}